@import "../../../public/variables";

#brand {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	text-align: center;
}

#brandContainer {
	align-items: center;
	display: flex;
	flex-direction: column;
}

#name {
	font-size: 60px;
	font-weight: bold;
}

#description {
	font-size: 20px;
	margin: 30px;
	text-transform: lowercase;
}

.button {
	background-color: $accentColor;
	border-radius: 25px;
	color: #fff;
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	margin: 10px;
	padding: 20px;
	text-transform: lowercase;

	&:hover {
		background-color: darken($accentColor, 5%);
		color: #fff;
	}
}

@media screen and (min-width: 1024px) {
	#brandContainer {
		flex-direction: row;
		margin: auto 20%;
	}
}
