body {
	color: #fff;
	font-family: Comfortaa, "Segoe UI", Arial, Helvetica, sans-serif;
	margin: 0;
}

a {
	color: #ff66ab;
	text-decoration: none;
	transition: 0.2s;

	&:hover {
		color: darken(#ff66ab, 5%);
	}
}

::selection {
	background-color: #fff;
	color: #000;
}

::-moz-selection {
	background-color: #fff;
	color: #000;
}
