body {
	background-image: url(/background.png/);
	color: #fff;
	font-family: Comfortaa, "Segoe UI", Arial, Helvetica, sans-serif;
	margin: 0;
}

a {
	color: #bbb;
	text-decoration: none;
	transition: 0.2s;

	&:hover {
		color: #ccc;
	}
}

::selection {
	background-color: #fff;
	color: #000;
}

::-moz-selection {
	background-color: #fff;
	color: #000;
}
