#features {
	background-color: #292929;
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

#featuresContainer {
	display: flex;
	flex-direction: column;
	margin: auto 40px;
}

.feature {
	margin: 30px;
	text-align: center;
	text-transform: lowercase;

	svg {
		margin: 15px;
		width: 80px;
	}
}

.featureName {
	display: block;
	font-size: 20px;
	font-weight: bold;
	margin: 15px;
}

.featureDescription {
	font-size: 15px;
}

@media screen and (min-width: 1024px) {
	#featuresContainer {
		flex-direction: row;
		margin: auto 20%;
	}

	.feature {
		width: 100%;
	}
}
