.sectionCaret {
	cursor: pointer;
	display: none;
	left: 48%;
	margin-top: -60px;
	position: absolute;
	text-align: center;
	text-transform: lowercase;

	svg {
		animation: float 2s ease-in-out infinite;
		display: block;
		margin: 15px auto;
		width: 30px;
	}
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

@media screen and (min-width: 1024px) {
	.sectionCaret {
		display: block;
	}
}
